<h1>Dashboard</h1>

<div id="grid">
</div>

<style>
.critical {
    background-color: #c9302c;
    font-weight: bold;
    color: #fff;
}

.stop {
    background-color: #f0ad4e;
    font-weight: bold;
    color: #fff;
}

.ok {
    background-color: #5cb85c;
    font-weight: bold;
    color: #fff;
}
</style>
<script id="command-template" type="text/x-kendo-template">
    <a class="k-button k-grid-start btn btn-info">#= data.status == "STOP" ? "Start" : "Stop" #</a>
</script>
<script>
var localdata = {}
$.ajax({
    url: "{{BaseUrl}}dashboard/griddashboard",
    dataType: "json",
    type: "POST",
    async: false,
    success: function(data) {
        
        var datas = []
        $.each(data, function(i,v){
            var dataPush = {}
            $.each(v, function(j,x){
                dataPush[j] = x;
                dataPush.status = "STOP";
                dataPush.lastGrab = "";
                dataPush.grabStat = "";
            })

            checkStat(v.nameid, v.grabinterval, 0, i)
            datas.push(dataPush)
        });
        localdata = datas        
    },
    error: function(e) {
        console.log(e)
    }
});

var localDataSources = new kendo.data.DataSource({
    data: localdata
});

//Grid
var commonSettings = {
    dataSource: localDataSources,
    height: 550,
    sortable: true,
    pageable: {
        refresh: true,
        pageSizes: true,
        buttonCount: 5
    },
    columns: [{
        field: "status",
        title: "STATUS",
        // width: 100
    }, {
        field: "nameid",
        title: "NAME ID"
    }, {
        field: "url",
        title: "SOURCE"
    }, {
        field: "grabinterval",
        title: "INTERVAL"
    }, {
        field: "lastGrab",
        title: "LAST GRAB"
    }, {
        field: "grabStat",
        title: "GRAB STAT"
    }, {
        field: "note",
        title: "NOTE"
    }, {
        template: kendo.template($("#command-template").html())
    }
    ]
}

function getStatusClass(stat){
    if (stat == "RUN") {
        return "ok"
    } else if (stat =="STOP") {
        return "stop"
    } else if (stat == "ERROR") {
        return "critical"
    }
}

$("#grid").kendoGrid($.extend({
    dataBound: function(e) {
        var columns = e.sender.columns;
        var columnIndex = 0;
        for (var j = 0; j < columns.length; j++) {
            if (columns[j].field == "status") {
                break;
            }
            columnIndex++;
        }
        
        var dataItems = e.sender.dataSource.view();
        for (var j = 0; j < dataItems.length; j++) {            
            var stat = dataItems[j].get("status");
            var row = e.sender.tbody.find("[data-uid='" + dataItems[j].uid + "']");
            var cell = row.children().eq(columnIndex);                
            cell.addClass(getStatusClass(stat));
        }
    }
}, commonSettings));


var grid = $("#grid").data("kendoGrid");
var gridDataSource = grid.dataSource
function startService(nameid, uid) {
    var obj = new Object();
    obj.NameId = nameid;
    $.ajax({
        url: "{{BaseUrl}}dashboard/startservice",
        dataType: "json",
        type: "POST",
        data: JSON.stringify(obj),
        success: function(data) {
            console.log(data);
        },
        error: function(e) {
            console.log(e);
        }
    });
}

$("#grid").on("click", ".k-grid-start", function(e) {
    var curBtn = $(e.target);
    var tr = $(e.target).closest("tr"); // get the current table row (tr)
    var data = grid.dataItem(tr);
    var selected = data.status;
   
    if (selected == "STOP" || selected == undefined) {
        data.set("status", "RUN");
        curBtn.text('Stop');
        startService(data.nameid, data.uid)
    }else{
        data.set("status", "STOP");
        curBtn.text('Start');
        stopService(data.nameid, data.uid)
    }
});


function stopService(nameid, uid){
    var obj = new Object();
    obj.NameId = nameid;
    $.ajax({
        url: "{{BaseUrl}}dashboard/stopservice",
        dataType: "json",
        type: "POST",
        data: JSON.stringify(obj),
        success: function(data) {
            console.log(data)
        },
        error: function(e) {
            console.log(e);
        }
    });
}


$.each(grid.dataSource.data(), function(key, val){
    var inSecond = val.grabinterval * 1000
    var myInterval = setInterval(function () {checkStat(val.nameid, val.grabinterval, val.uid, key)}, inSecond)
});

function checkStat(nameid, interval, uid, index){
    var obj = new Object()
    obj.NameId = nameid
    $.ajax({
        url: "{{BaseUrl}}dashboard/stat",
        dataType: "json",
        type: "POST",
        data: JSON.stringify(obj),
        success: function(data) {
            if (data.name == nameid) {
                if (data.isRun){
                    var dataGrid = gridDataSource.at(index);
                    runStatus(data, dataGrid, uid)
                }
            } else {
                var dataGrid = gridDataSource.at(index);
                stopStatus(data, dataGrid, uid)
            }
        },
        error: function(e) {
            console.log(e)
        }
    });
}

function runStatus(data, dataGrid, uid){
    console.log(data)
    var dateNow = (typeof data.dateNow === "undefined")? "" : data.dateNow;
    var timeNow = (typeof data.timeNow === "undefined")? "" : data.timeNow;
    dataGrid.set("lastGrab", dateNow+" "+timeNow)
    dataGrid.set("grabStat", data.status)
    dataGrid.set("note", data.note)
    dataGrid.set("status","RUN");
}

function stopStatus(data, dataGrid, uid){
    var dateNow = (typeof data.dateNow === "undefined")? "" : data.dateNow;
    var timeNow = (typeof data.timeNow === "undefined")? "" : data.timeNow;
    dataGrid.set("lastGrab", dateNow+" "+timeNow)
    dataGrid.set("grabStat", data.status)
    dataGrid.set("note", data.note)
    dataGrid.set("status","STOP");
}


</script>