<style>
#widthviewDataResult{
    height: 1px;
}
.grab-stat{
    margin: 0px;
    padding: 2px;
}
</style>
<h1>Dashboard</h1>
<br />
<script type="text/javascript">
var Config = {
    isHistory: ko.observable(false),
    isSnapShot: ko.observable(true),
    isViewData:ko.observable(false),
    Data:ko.observableArray([]),
    isAllertError: ko.observable(false),
    message: ko.observable()
}
var ViewData = {
    Processing:ko.observable(false),
    HistoryData:ko.observableArray([]),
    selectedNameID:ko.observable(""),
}
</script>
<div class="row">
    <div id="widthviewDataResult" class="col-md-10">&nbsp;</div>
</div>
<div id="viewDataResult">
    <div data-bind="visible:ViewData.Processing()" class="align-center">
        <h4>Please wait while processing your request</h4>
        <img src="/static/img/loader.gif" alt="Loading..." />
    </div>
    <div data-bind="visible:!ViewData.Processing()" class="align-center">
        <div id="DataResult"></div>
    </div>
</div>
<div data-bind="with:Config">
    <div data-bind="visible:isAllertError()" class="alert alert-danger">
        <a href="#" class="close" data-bind="click:CloseErrorAlert" aria-label="close">&times;</a>
        <strong>Error!</strong> <span data-bind="text: message"></span>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div data-bind="visible:isSnapShot()" id="grid"></div>
        </div>
    </div>
    <div class="row">
        <div data-bind="visible:isHistory()">
            <div class="col-md-12">
                <button class="btn btn-primary" data-bind="click:GoBack"><span class="glyphicon glyphicon-chevron-left"></span> Go Back</button>
            </div>
            <br />
            <div class="col-md-12">
                <div id="grid-history"></div>
            </div>
        </div>
    </div>
</div>

<div id="details"></div>

<style>
.k-grid-norecords-template{
    border: none;
}
.critical {
    background-color: #c9302c;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.stop {
    background-color: #f0ad4e;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.ok {
    background-color: #5cb85c;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.success {
    color: #5cb85c;
}
.failed {
    color: #c9302c;
}
</style>
<script id="command-template" type="text/x-kendo-template">
<a class="k-button k-grid-start btn btn-info" id='service-#:data.nameid#'>
    #= data.status == "STOP" ? "Start" : "Stop" #
</a>
</script>

<script id="status-history-template" type="text/x-kendo-template">
<i class='#= data.grabstatus == 'SUCCESS' ? "fa fa-check fa-2x success" : "fa fa-times fa-2x failed" #'></i>
</script>

<script type="text/x-kendo-template" id="log-template">
    #= logs #
</script>

<script>
model.PageId("Dashboard");

$(document).ready(function () {

});

var wnd, detailsTemplate;
var localdata = {}
$.ajax({
    url: "{{BaseUrl}}dashboard/griddashboard",
    dataType: "json",
    type: "POST",
    async: false,
    success: function(data) {
        Config.Data(data);
        var datas = []
        $.each(data, function(i, v) {
            var dataPush = {}
            dataPush.nameid = v.nameid
            dataPush.grabinterval = v.grabinterval + " " + v.intervaltype
            dataPush.url = v.url
            dataPush.status = "STOP";
            dataPush.lastGrab = "";
            dataPush.nextGrab = "";
            dataPush.grabStat = "";

            checkStat(v.nameid, v.grabinterval, 0, i)
            datas.push(dataPush)
        });
        localdata = datas
    },
    error: function(e) {
        console.log(e)
    }
});

var localDataSources = new kendo.data.DataSource({
    data: localdata,
    schema: {
        model: {
            fields: {
                nameid: {type: "string"},
                url: {type: "string"},
                lastGrab: { type: "date" },
                nextGrab: {type: "date"},
                rowsaved: {type: "number"},
                notehistory: {type: "string"}
            }
        }
    },
    pageSize: 10
});

//Grid
var commonSettings = {
    dataSource: localDataSources,
    sortable: true,
    filterable: {
        extra: false,
        operators: {
            string: {
                startswith: "Starts with",
                eq: "Is equal to",
                neq: "Is not equal to"
            }
        }
    },
    pageable: {/* refresh: true, */pageSizes: true,buttonCount: 5},
    columns: [
    {template: kendo.template($("#command-template").html()),width: 80}, 
    {field: "status",title: "STATUS", filterable: false, width: 60}, 
    {field: "nameid",title: "NAME ID",width: 100}, 
    {field: "url",title: "SOURCE",}, 
    {field: "grabinterval",title: "INTERVAL",filterable: false, width: 85}, 
    {
        field: "lastGrab",title: "LAST GRAB",
        filterable: {ui: "datetimepicker"},
        format: "{0:yyyy/MM/dd HH:mm tt}",
        width: 125
    }, 
    {
        field: "nextGrab",title: "NEXT GRAB",
        filterable: {
            ui: "datetimepicker"
        },
        format: "{0:yyyy/MM/dd HH:mm tt}",width: 125
    }, 
    {
        field: "grabStat",title: "GRAB STAT",filterable: false, width: 120,attributes:{ class:"align-center" },
        template:"#if(grabStat){#<div class='alert alert-success grab-stat'><span class='fa fa-check'></span> SUCCESS</div>#}else{#<div class='alert alert-danger grab-stat'><span class='fa fa-minus'></span> FAILED</div>#}#"
    }, 
    {field: "note",title: "NOTE", encoded: false, filterable: false}, 
    {field: "history",title: "&nbsp;",width:80,attributes:{ class:"align-center" },template:"<button class='btn btn-default' onclick='Config.History(\"#:nameid#\")'><span>History</span></button>", filterable: false}
    ]
}

function getStatusClass(stat) {
    if (stat == "RUN") {
        return "ok"
    } else if (stat == "STOP") {
        return "stop"
    } else if (stat == "ERROR") {
        return "critical"
    } else if (stat == "SUCCESS") {
        return "success"
    } else if (stat == "FAILED") {
        return "failed"
    }
}

$("#grid").kendoGrid($.extend({
    dataBound: function(e) {
        var columns = e.sender.columns;
        var columnIndex = 0;
        for (var j = 0; j < columns.length; j++) {
            if (columns[j].field == "status") {
                break;
            }
            columnIndex++;
        }

        var dataItems = e.sender.dataSource.view();
        for (var j = 0; j < dataItems.length; j++) {
            var stat = dataItems[j].get("status");
            var row = e.sender.tbody.find("[data-uid='" + dataItems[j].uid + "']");
            var cell = row.children().eq(columnIndex);
            cell.addClass(getStatusClass(stat));
        }
    }
}, commonSettings));
localDataSources.read()

var grid = $("#grid").data("kendoGrid");
var gridDataSource = grid.dataSource

function startService(nameid, uid) {
    var obj = new Object();
    obj.NameId = nameid;
    $.ajax({
        url: "{{BaseUrl}}dashboard/startservice",
        dataType: "json",
        type: "POST",
        data: JSON.stringify(obj),
        success: function(data) {
            if (jQuery.type(data) === "string"){
                $("#service-"+nameid).trigger("click", function(e) {
                    stopService(nameid, 0)
                });
                Config.isAllertError(true)
                Config.message(data);
                // alert("ERROR OCCURRED:\n"+data)
            } else if (data == false) {
                alert(data + ": something happen with start service")
            }
            // console.log(data);
        },
        error: function(jqXHR) {
            alert(jqXHR.responseText)
            // console.log(e);
        }
    });
}

$("#grid").on("click", ".k-grid-start", function(e) {
    var curBtn = $(e.target);
    var tr = $(e.target).closest("tr"); // get the current table row (tr)
    var data = grid.dataItem(tr);
    var selected = data.status;

    if (selected == "STOP" || selected == undefined) {
        data.set("status", "RUN");
        curBtn.text('Stop');
        startService(data.nameid, data.uid);
    } else {
        data.set("status", "STOP");
        curBtn.text('Start');
        stopService(data.nameid, data.uid);
    }
});


function stopService(nameid, uid) {
    var obj = new Object();
    obj.NameId = nameid;
    $.ajax({
        url: "{{BaseUrl}}dashboard/stopservice",
        dataType: "json",
        type: "POST",
        data: JSON.stringify(obj),
        success: function(data) {
            if (data == false) {
                alert(data + ": something happen with stop service")
            }
            // console.log(data)
        },
        error: function(jqXHR) {
            alert(jqXHR.responseText)
            // console.log(e);
        }
    });
}


$.each(grid.dataSource.data(), function(key, val) {
    var inSecond = 50000 //every 5 minutes
    var myInterval = setInterval(function() {
        checkStat(val.nameid, val.grabinterval, val.uid, key);
    }, inSecond)
});

function checkStat(nameid, interval, uid, index) {
    var obj = new Object()
    obj.NameId = nameid
    $.ajax({
        url: "{{BaseUrl}}dashboard/stat",
        dataType: "json",
        type: "POST",
        data: JSON.stringify(obj),
        success: function(data) {
            if (jQuery.type(data) === "string"){
                $("#service-"+nameid).trigger("click", function(e) {
                    stopService(nameid, 0)
                });
                alert(data)
            }
            var startdate = (data.note.startDate == undefined) ? 0 : data.note.startDate
            var grabcount = (data.note.grabCount == undefined) ? 0 : data.note.grabCount
            var rowgrab = (data.note.rowGrabbed == undefined) ? 0 : data.note.rowGrabbed
            var errorfound = (data.note.errorFound == undefined) ? 0 : data.note.errorFound
            var summary = "Start "+startdate+" <br> Grab "+grabcount+" times <br> Data retreive "+rowgrab+" rows <br> Error "+errorfound+" times";

            if (!data.grabStat && data.note.errorFound > 0) {
                var dataGrid = gridDataSource.at(index);
                errorStatus(data, dataGrid, summary);
            } else if (data.name == nameid) {
                if (data.isRun) {
                    var dataGrid = gridDataSource.at(index);
                    runStatus(data, dataGrid, summary);
                } else {
                    var dataGrid = gridDataSource.at(index);
                    stopStatus(data, dataGrid, summary);
                }
            }
        },
        error: function(jqXHR) {
            alert(jqXHR.responseText)
        }
    });
}

function runStatus(data, dataGrid, summary) {
    dataGrid.set("lastGrab", data.lastDate);
    dataGrid.set("nextGrab", data.nextDate);
    dataGrid.set("grabStat", data.grabStat);
    dataGrid.set("note", summary);
    dataGrid.set("status", "RUN");
}

function stopStatus(data, dataGrid, summary) {
    dataGrid.set("lastGrab", data.lastDate);
    dataGrid.set("nextGrab", data.nextDate);
    dataGrid.set("grabStat", data.grabStat);
    dataGrid.set("note", summary);
    dataGrid.set("status", "STOP");
}

function errorStatus(data, dataGrid, summary) {
    dataGrid.set("grabStat", data.grabStat);
    dataGrid.set("note", summary);
    dataGrid.set("status", "ERROR");
}

Config.History = function(nameid){
    ViewData.selectedNameID(nameid);
    Config.isHistory(true);
    Config.isSnapShot(false)

    var obj = new Object();
    obj.NameId = nameid
    $.ajax({
        url: "{{BaseUrl}}dashboard/gethistory",
        dataType: "json",
        type: "POST",
        data: JSON.stringify(obj),
        success: function(data) {
            ViewData.HistoryData(data);
            var dataHistory = new kendo.data.DataSource({
                data: data,
                schema: {
                    model: {
                        fields: {
                            datasettingname: {type: "string"},
                            grabdate: { type: "date" },
                            rowgrabbed: {type: "number"},
                            rowsaved: {type: "number"},
                            notehistory: {type: "string"}
                        }
                    }
                },
                pageSize: 10
            });

            var dsGridHistory = $("#grid-history").kendoGrid({
                dataSource: dataHistory,
                noRecords: true,
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            startswith: "Starts with",
                            eq: "Is equal to",
                            neq: "Is not equal to"
                        }
                    }
                },
                messages: {
                    noRecords: "<span style='font-size:14px'><strong>Upss..no history found!</strong></span>"
                },
                sortable: true,
                dataBound: onHistoryDataBound,
                pageable: {pageSizes: true},
                columns: [
                {field: "id",title: "ID", filterable: false, width: 50,attributes:{class:"align-center"}}, 
                {field: "grabstatus",title: "STATUS", attributes:{ class:"align-center" }, template: kendo.template($("#status-history-template").html()), filterable: false, width: 60},
                {field: "datasettingname",title: "DATA NAME"}, 
                {field: "grabdate",filterable: {
                    ui: "datetimepicker"
                },title: "START",format: "{0:yyyy/MM/dd HH:mm tt}"},
                {field: "rowgrabbed",title: "GRAB COUNT"},
                {field: "rowsaved",title: "ROW SAVE"},
                {field: "notehistory",title: "NOTE"},
                {field: "viewBtn",title: "&nbsp;",width:100,attributes:{ class:"align-center" },template:"<button class='btn btn-default' onclick='Config.ViewData(\"#:datasettingname#\",\"#:id#\")'><span>View Data</span></button>", filterable: false},
                {field: "logBtn",title: "&nbsp;",width:80,attributes:{ class:"align-center" },template:"<button class='btn btn-default' onclick='Config.Log(\"#:kendo.toString(grabdate, 'yyyy/MM/dd HH:mm:ss')#\",\"#:nameid#\")'><span>Log</span></button>", filterable: false}
                ]
            });

        var gridHs = dsGridHistory.data("kendoGrid");
            gridHs.setDataSource(dataHistory); // sets to a blank dataSource
        },
        error: function(jqXHR) {
            alert(jqXHR.responseText)
            // console.log(e);
        }
    });
}
ViewData.Prepare = function(datasettingname){
    var nameid = ViewData.selectedNameID();
    var ConfigList = Config.Data();
    var datasettings = Enumerable.From(ConfigList).Where(function(x){return x.nameid == nameid}).FirstOrDefault().datasettings;
    var data = Enumerable.From(datasettings).Where(function(x){return x.name == datasettingname}).FirstOrDefault();
    var columnsettings = data.columnsettings;
    var series = [];
    for(var i in columnsettings){
        var field = columnsettings[i].alias.replace(/ /g, "_");
        var s = {
            field:field,
            title:columnsettings[i].alias,
            width:100
        }
        series.push(s);
    }
    $("#DataResult").html("");
    $("#DataResult").kendoGrid({
        dataSource: {},
        autoBind: false,
        scrollable: true,
        pageable:true,
        sortable: true,
        filterable: true,
        columns: series
    });
}

ViewData.Fetch = function(dataSource){
    var source = {
        data: dataSource,
        pageSize:10
    }
    $("#DataResult").data("kendoGrid").setDataSource(source);
    $("#DataResult").data("kendoGrid").dataSource.read();
}

Config.ViewData = function(datasettingname,id){
    ViewData.Processing(true);
    var obj = $("#viewDataResult");
    if(obj.data("kendoWindow")!==undefined){
        obj.data("kendoWindow").open();
        obj.data("kendoWindow").center();
    }else{
        var width = $("#widthviewDataResult").width();
        obj.kendoWindow({
            title: "View Data",
            actions: [ "Maximize","Close" ],
            modal: true,
            resizable: true,
            width: width,
            heigt:350,
        });
        obj.data("kendoWindow").center();
    }
    ViewData.Prepare(datasettingname);
    var HistoryData = ViewData.HistoryData();
    var recfile = Enumerable.From(HistoryData).Where(function(x){return x.id==id}).FirstOrDefault().recfile;
    var url = "{{BaseUrl}}result/getdatafromcsv";
    var parm = {
        host:recfile,
        delimiter:",",
        useheader:true,
    }
    ajaxPost(url,parm,function(res){
        for(var i in res){
            for(var x in res[i]){
                var field = x.replace(/ /g, "_");
                res[i][field] = res[i][x];
            }
        }
        ViewData.Processing(false);
        ViewData.Fetch(res);
    },
    function(err){
        alert(err.responseText)
    });
}


Config.GoBack = function(){
    ViewData.selectedNameID("");
    Config.isHistory(false);
    Config.isSnapShot(true);
    $.each(grid.dataSource.data(), function(key, val) {
        checkStat(val.nameid, val.grabinterval, val.uid, key);
    });
}

Config.CloseErrorAlert = function(){
    Config.isAllertError(false)
}

Config.Log = function(date,nameid){
    var obj = new Object();
    obj.Date = date
    obj.NameId = nameid
    $.ajax({
        url: "{{BaseUrl}}dashboard/getlog",
        dataType: "json",
        type: "POST",
        data: JSON.stringify(obj),
        success: function(data) {
            var blkstr = {};
            if (data.logs != null){
                var stringData = data.logs.toString();
                var logsData = stringData.replace(/,/g, '');
                blkstr.logs = '<ul style="font-size: 13px;">'+logsData+'</ul>';
            } else {
                blkstr.logs = "<div class='align-center' style='font-size:14px;'><strong>Sorry no log's found</strong></div>";
            }
            
            var wnd  = $("#details").kendoWindow({
                title: "LOG DETAIL",
                modal: true,
                visible: false,
                resizable: false,
                width: 1024
            }).data("kendoWindow");
            
            detailsTemplate = kendo.template($("#log-template").html());
            wnd.content(detailsTemplate(blkstr));
            wnd.center().open();
        }
    });
}

// Config.ShowDetails = function(e) {
//     e.preventDefault();
//     var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
//     wnd.content(detailsTemplate(dataItem));
//     wnd.center().open();
// }

function onHistoryDataBound(e) {
    var columns = e.sender.columns;
    var columnIndex = 0;
    for (var j = 0; j < columns.length; j++) {
        if (columns[j].field == "grabstatus") {
            break;
        }
        columnIndex++;
    }

    var dataItems = e.sender.dataSource.view();
    for (var j = 0; j < dataItems.length; j++) {
        var stat = dataItems[j].get("grabstatus");
        var row = e.sender.tbody.find("[data-uid='" + dataItems[j].uid + "']");
        var cell = row.children().eq(columnIndex);
        cell.addClass(getStatusClass(stat));
    }
}
</script>
