<style>
iframe{
	border:1px solid #DDD;
}
#sidebar > .row{
	margin-bottom: 5px;
}
#sidebar > .row > .col-md-5{
	line-height: 25px;
}

#sidebar > .sidebar-section > .row{
	margin-bottom: 5px;
}
#sidebar > .sidebar-section > .row > .col-md-5{
	line-height: 25px;
}

.data-setting > .row{
	margin-bottom: 5px;
}
.data-setting > .row > .col-md-5{
	line-height: 25px;
}
.data-preview{
	border-bottom:3px solid #0672A0;
	margin-bottom: 10px;
}
</style>
<h1>Configuration</h1><br/>
<script type="text/javascript">
	function ColumnBase(){
		var self = this;
		self.index = ko.observable(0);
		self.alias = ko.observable("");
		self.selector = ko.observable("");
		return self;
	}
	function BaseData(){
		var self = this;
		self.name = ko.observable("");
		self.rowselector = ko.observable("");
		self.columnsettings = ko.observableArray([]);
		self.desttype = ko.observable("csv");
		self.connectioninfo = {
			host:ko.observable(""),
			database:ko.observable(""),
			collection:ko.observable(""),
			settings:{
				useheader:ko.observable(true),
				delimiter:ko.observable(","),
			},
		};
		return self;
	}
	var Config = {
		Data:ko.observableArray([]),
		isFormActive:ko.observable(false),
		isURLSet:ko.observable(false),
		url:ko.observable(""),
		nameid:ko.observable(""),
		calltype:ko.observable("GET"),
		sourcetype:ko.observable("SourceType_Http"),
		intervaltype:ko.observable("seconds"),
		grabinterval:ko.observable(0),
		timeoutinterval:ko.observable(0),
		datasetting:ko.observableArray([]),
		logconf:{
			logpath:ko.observable(""),
			filename: ko.observable(""),
			filepattern: "20060102"
		},

		// Data Source
		calltypeList:ko.observableArray(["GET","POST"]),
		intervalList:ko.observableArray(["seconds","minutes","hours"]),
		sourcetypeList:ko.observableArray(["SourceType_Http"]),
		desttypeList:ko.observableArray(["csv","mongodb"]),
		useheaderList:ko.observableArray([true,false]),
		// Process
		ProcessNumber:ko.observable(1),
		ProcessTotal:ko.observable(3),

		// Data Setting
		ActiveData:ko.observable(0),
		isEdit:ko.observable(false),
	}
</script>

<div  data-bind="with:Config">
	<div class="row" data-bind="visible:!isFormActive()">
		<div class="col-md-12 align-right">
			<button class="btn btn-info" data-bind="click:AddNew">Add New</button>
		</div>
		<br/>
		<div class="col-md-12">
			<div id="DataList"></div>
		</div>
	</div>
	<div class="row"  data-bind="visible:isFormActive()">
		<div class="col-md-8">
			<div class="input-group">
			  <span class="input-group-addon">Input URL</span>
			  <input type="text" class="form-control" data-bind="value:url">
			</div>
		</div>
		<div class="col-md-3">
			<button class="btn btn-info" data-bind="click:GetURL">Get URL</button>
			<button class="btn btn-danger" data-bind="click:Reset">Reset</button>
			<button class="btn btn-primary" onclick="Config.isFormActive(false)">Cancel</button>
		</div>
	</div>
	<br/>
	<div class="row"  data-bind="visible:isFormActive()">
		<div class="col-md-3" id="sidebar">
			<!-- Sidebar -->
			
			<div class="row">
				<div class="col-md-12 align-center">
					<h3 data-bind="visible:ProcessNumber()==1">Grabber - Set Up</h3>
					<h3 data-bind="visible:ProcessNumber()==2">Grabber - Set Up &raquo; Data Setting</h3>
					<h3 data-bind="visible:ProcessNumber()==3">Grabber - Set Up &raquo; Preview</h3>
				</div>
			</div>
			
			<div class="sidebar-section"  data-bind="visible:ProcessNumber()==1">
				<div class="row">
					<label class="col-md-5">
						Name ID
					</label>
					<div class="col-md-7">
						<input type="text" data-bind="value:nameid" class="form-control"/>
					</div>
				</div>
				<div class="row">
					<label class="col-md-5">
						Call Type
					</label>
					<div class="col-md-7">
						<input type="text" data-bind="kendoDropDownList:{value:calltype,data:calltypeList}" />
					</div>
				</div>
				<div class="row">
					<label class="col-md-5">
						Source Type
					</label>
					<div class="col-md-7">
						<input type="text" data-bind="kendoDropDownList:{value:sourcetype,data:sourcetypeList}" />
					</div>
				</div>
				<div class="row">
					<label class="col-md-5">
						Interval Type
					</label>
					<div class="col-md-7">
						<input type="text" data-bind="kendoDropDownList:{value:intervaltype,data:intervalList}" />
					</div>
				</div>
				<div class="row">
					<label class="col-md-5">
						Grab Interval
					</label>
					<div class="col-md-7">
						<input type="text" data-bind="value:grabinterval" class="form-control"/>
					</div>
				</div>
				<div class="row">
					<label class="col-md-5">
						Timeout Interval
					</label>
					<div class="col-md-7">
						<input type="text" data-bind="value:timeoutinterval" class="form-control"/>
					</div>
				</div>
			</div>

			<div class="sidebar-section"  data-bind="visible:ProcessNumber()==2">
				<div class="row">
					<label class="col-md-12">
						List :
					</label>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table width="100%" class="table">
							<tr>
								<th width="20%">Name</th>
								<th>Row Selector</th>
								<th>&nbsp;</th>
							</tr>
							<tbody data-bind="foreach:datasetting">
								<tr>
									<td data-bind="text:name()==''?'-':name"></td>
									<td data-bind="text:rowselector()==''?'-':rowselector"></td>
									<td>
										<button class="btn btn-xs btn-info" data-bind="attr:{onclick:'Config.ActiveData('+$index()+')'}">
											<span class="fa fa-edit"></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row" data-bind="foreach:datasetting">
					<div class="col-md-12 data-setting" data-bind="visible:$index()==$parent.ActiveData()">
						<div class="row">
							<label class="col-md-5">
								Name
							</label>
							<div class="col-md-7">
								<input type="text" data-bind="value:name" class="form-control"/>
							</div>
						</div>
						<div class="row">
							<label class="col-md-5">
								Row Selector
							</label>
							<div class="col-md-7">
								<input type="text" data-bind="value:rowselector" class="form-control"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<b>Column Setting : </b>
							</div>
							<div class="col-md-4 align-right">
								<button class="btn btn-xs btn-default" data-bind="attr:{onclick:'Config.AddColumn('+$index()+')'}">
									<span class="fa fa-plus"></span> add column
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<table width="100%" class="table">
									<tr>
										<th width="40%">Alias</th>
										<th>Selector</th>
									</tr>
									<tbody data-bind="foreach:columnsettings">
										<tr>
											<td>
												<input type="text" class="form-control" data-bind="value:alias"/>
											</td>
											<td>
												<input type="text" class="form-control" data-bind="value:selector"/>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<label class="col-md-5">
								Destination Type
							</label>
							<div class="col-md-7">
								<input type="text" data-bind="kendoDropDownList:{value:desttype,data:$parent.desttypeList}" />
							</div>
						</div>
						<div class="row">
							<label class="col-md-5">
								Host
							</label>
							<div class="col-md-7">
								<input type="text" class="form-control" data-bind="value:connectioninfo.host"/>
							</div>
						</div>
						<div class="row" data-bind="visible:desttype()=='mongodb'">
							<label class="col-md-5">
								Database
							</label>
							<div class="col-md-7">
								<input type="text" class="form-control" data-bind="value:connectioninfo.database"/>
							</div>
						</div>
						<div class="row" data-bind="visible:desttype()=='mongodb'">
							<label class="col-md-5">
								Collection
							</label>
							<div class="col-md-7">
								<input type="text" class="form-control" data-bind="value:connectioninfo.collection"/>
							</div>
						</div>
						<div class="row" data-bind="visible:desttype()=='csv'">
							<label class="col-md-5">
								Use Header
							</label>
							<div class="col-md-7">
								<input type="text" data-bind="kendoDropDownList:{value:connectioninfo.settings.useheader,data:$parent.useheaderList}" />
							</div>
						</div>
						<div class="row" data-bind="visible:desttype()=='csv'">
							<label class="col-md-5">
								Delimiter
							</label>
							<div class="col-md-7">
								<input type="text" class="form-control" data-bind="value:connectioninfo.settings.delimiter"/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="sidebar-section"  data-bind="visible:ProcessNumber()==3">
				<div class="row" data-bind="foreach:datasetting">
					<div class="col-md-12 data-setting data-preview">
						<div class="row">
							<label class="col-md-5">Name</label>
							<div class="col-md-7" data-bind="text:name"></div>
						</div>
						<div class="row">
							<label class="col-md-5">Row Selector</label>
							<div class="col-md-7" data-bind="text:rowselector" ></div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<b>Column Setting : </b>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<table width="100%" class="table">
									<tr>
										<th width="40%">Alias</th>
										<th>Selector</th>
									</tr>
									<tbody data-bind="foreach:columnsettings">
										<tr>
											<td data-bind="text:alias"></td>
											<td data-bind="text:selector"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row">
							<label class="col-md-5">
								Destination Type
							</label>
							<div class="col-md-7" data-bind="text:desttype"></div>
						</div>
						<div class="row">
							<label class="col-md-5">
								Host
							</label>
							<div class="col-md-7" data-bind="text:connectioninfo.host"></div>
						</div>
						<div class="row" data-bind="visible:desttype()=='mongodb'">
							<label class="col-md-5">
								Database
							</label>
							<div class="col-md-7" data-bind="text:connectioninfo.database"></div>
						</div>
						<div class="row" data-bind="visible:desttype()=='mongodb'">
							<label class="col-md-5">
								Collection
							</label>
							<div class="col-md-7" data-bind="text:connectioninfo.collection"></div>
						</div>
						<div class="row" data-bind="visible:desttype()=='csv'">
							<label class="col-md-5">
								Use Header
							</label>
							<div class="col-md-7" data-bind="text:connectioninfo.settings.useheader"></div>
						</div>
						<div class="row" data-bind="visible:desttype()=='csv'">
							<label class="col-md-5">
								Delimiter
							</label>
							<div class="col-md-7" data-bind="text:connectioninfo.settings.delimiter"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 align-right">
					<button class="btn btn-primary" data-bind="visible:ProcessNumber()==2" onclick="Config.AddData();">Add More Data</button>

					<button class="btn btn-default" data-bind="visible:ProcessNumber()==2" onclick="Config.ProcessNumber(1)">Back</button>
					<button class="btn btn-default" data-bind="visible:ProcessNumber()==3" onclick="Config.ProcessNumber(2)">Back</button>
					<button class="btn btn-success" data-bind="visible:ProcessNumber()==1,attr:{disabled:!Config.isURLSet()}" onclick="Config.ProcessNumber(2)">Next</button>
					<button class="btn btn-success" data-bind="visible:ProcessNumber()==2" onclick="Config.ProcessNumber(3)">Next</button>
					<button class="btn btn-success" data-bind="visible:ProcessNumber()==3,click:Save">Save</button>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<iframe name="URLPreview" id="URLPreview" width="100%" height="450px" frameborder="0"></iframe>
		</div>
	</div>
</div>
<script type="text/javascript">
	Config.AddNew = function(){
		Config.isFormActive(true);
		Config.isEdit(false);
	}
	Config.AddData = function(){
		Config.datasetting.push(new BaseData());
		Config.ActiveData(Config.ActiveData()+1);
	}
	Config.AddColumn = function(index){
		Config.datasetting()[index].columnsettings.push(new ColumnBase());
	}

	Config.Reset = function(){
		location.reload()
		// alert("Still working on it, please use manual Refresh ( Ctrl + F5 )");
		// return false;
		// Config.url("");
		// $("#URLPreview").attr("src","")
	}
	Config.GetURL = function(){
		Config.isURLSet(true);
		window.open(Config.url(),"URLPreview");
		Config.datasetting.push(new BaseData());
	}
	Config.Save = function(){
		Config.grabinterval(parseFloat(Config.grabinterval()));
		Config.timeoutinterval(parseFloat(Config.timeoutinterval()));
		var jsondata = ko.mapping.toJSON(Config);
		var data = ko.mapping.fromJSON(jsondata);
		delete data["Data"]
		delete data["isFormActive"]
		delete data["isURLSet"]
		delete data["calltypeList"]
		delete data["intervalList"]
		delete data["sourcetypeList"]
		delete data["desttypeList"]
		delete data["useheaderList"]

		delete data["ProcessNumber"]
		delete data["ProcessTotal"]
		delete data["ActiveData"]
		delete data["isEdit"]
		
		for(var i in data.datasetting()){
			switch(data.datasetting()[i].desttype()){
				case "csv":
					delete data.datasetting()[i].connectioninfo["database"]
					delete data.datasetting()[i].connectioninfo["collection"]
					break;
				case "mongodb":
					delete data.datasetting()[i].connectioninfo["settings"]
					break;
				default:
					break;
			}
		}

		var filename = Config.url().substr((Config.url().indexOf("www.")+4));
		filename = filename.substr(0,filename.indexOf(".")).toUpperCase();
		data.logconf.logpath("data/logs/"+filename+"/");
		data.logconf.filename("LOG-GRAB"+filename);
		var url = "{{BaseUrl}}configuration/save";
		var parm = {
			Data:ko.mapping.toJSON(data),
			IsEdit:Config.isEdit(),
			NameID:data.nameid
		};
		ajaxPost(url,parm,function(res){
	        alert("Configuration succesfully saved");
	        location.reload()
	    },
	    function(err){
	        alert(err.responseText)
	    });
	}

	Config.GetConfiguration = function(){
		var url = "{{BaseUrl}}configuration/getdata";
		var parm = {};
		ajaxPost(url,parm,function(res){
			Config.Data(res);
			Config.GenDataList(res);
	    },
	    function(err){
	        alert(err.responseText)
	    });
	}
	Config.Edit = function(nameid){
		Config.isEdit(true);
		var dataSource = Config.Data();
		var data = Enumerable.From(dataSource).Where(function(x){return x.nameid == nameid}).FirstOrDefault()
		Config.isFormActive(true);
		Config.url(data.url);
		Config.isURLSet(true);
		Config.nameid(data.nameid);
		Config.calltype(data.calltype);
		Config.sourcetype(data.sourcetype);
		Config.intervaltype(data.intervaltype);
		Config.grabinterval(data.grabinterval);
		Config.timeoutinterval(data.timeoutinterval);
		var datasetting = data.datasetting;
		for(var i in datasetting){
			Config.datasetting.push(new BaseData());
			Config.datasetting()[i].name(datasetting[i].name);
			Config.datasetting()[i].desttype(datasetting[i].desttype);
			Config.datasetting()[i].rowselector(datasetting[i].rowselector);
			Config.datasetting()[i].connectioninfo.host(datasetting[i].connectioninfo.host);
			switch(datasetting[i].desttype){
				case "csv":
					Config.datasetting()[i].connectioninfo.settings.useheader(datasetting[i].connectioninfo.settings.useheader);
					Config.datasetting()[i].connectioninfo.settings.delimiter(datasetting[i].connectioninfo.settings.delimiter);
				break;
				case "mongodb":
					Config.datasetting()[i].connectioninfo.collection(datasetting[i].connectioninfo.collection);
					Config.datasetting()[i].connectioninfo.database(datasetting[i].connectioninfo.database);
				break;
				default:break;
			}
			var columnsettings = datasetting[i].columnsettings;
			for(var c in columnsettings){
				Config.datasetting()[i].columnsettings.push(new ColumnBase())
				Config.datasetting()[i].columnsettings()[c].alias(columnsettings[c].alias);
				Config.datasetting()[i].columnsettings()[c].selector(columnsettings[c].selector);
			}

		}
	}

	

	Config.Delete = function(nameid){
		if(!confirm("Are you sure?")){
			return false;
		}

		var url = "{{BaseUrl}}configuration/delete";
		var parm = {
			NameID:nameid
		};
		ajaxPost(url,parm,function(res){
	        alert("Data has been deleted");
	        location.reload()
	    },
	    function(err){
	        alert(err.responseText)
	    });
	}
	Config.GenDataList = function(dataSource){
		$("#DataList").html("");
		$("#DataList").kendoGrid({
			dataSource: {
			  data: dataSource,
			  pageSize: 10
			},
			scrollable: true,
			sortable: true,
			filterable: true,
			columns: [
			  { field: "nameid", title: "Name ID"},
			  { field: "calltype", title: "Call Type",width:100},
			  { field: "sourcetype", title: "Source Type",width:150},
			  { field: "intervaltype", title: "Interval Type",width:120},
			  { field: "grabinterval", title: "Grab Type",format:"{0:N2}",width:120,attributes:{ class:"align-right" }},
			  { field: "timeoutinterval", title: "Timeout Type",format:"{0:N2}",width:120,attributes:{ class:"align-right" }},
			  { field: "datasetting", title: "Data Setting",template:"#:datasetting.length# Data"},
			  { field: "nameid", title: "&nbsp;",filterable:false,sortable:false,width:100,attributes:{ class:"align-center" },
			  	template:"<button class='btn btn-default' onclick='Config.Edit(\"#:nameid#\")'><span class='fa fa-edit' ></span></button>"+
			  	"&nbsp;"+
			  	"<button class='btn btn-default' onclick='Config.Delete(\"#:nameid#\")'><span class='fa fa-trash' ></span></button>"
			  },

			]
		})
	}

	$(document).ready(function(){
		Config.GetConfiguration();
	})
</script>