<center>
    <h1>Knot Web Extension Form</h1>
</center>

<div id="content" style="margin:2px auto;padding:5px;background-color:#FFF;_min-height:300px;width:95%">
    <form class="form-horizontal" method="POST" action="{{BaseUrl}}app/processform">
        <div class="form-group">
            <label class="col-md-3">Enter name</label>
            <span class="col-md-2">
                <input type="form-control" id="nama" name="nama">
            </span>
        </div>
        <div class="form-group">
            <label class="col-md-3">Umur</label>
            <span class="col-md-2">
                <input type="form-control" id="umur" name="umur">
            </span>
            <span class="col-md-4">
            <input type="SUBMIT" class="btn-primary btn-sm">
            </span>
        </div>
   </form>
</div>

